/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
#courbes{
     width: 100%;
     height: 100px;
 }
.navbar, .cd-timeline-img{
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.navbar #courbes{
    width: 50px;
    height: 50px;
    display: inline;
}
.cover-header{
    background-color: #561;
    font-family: 'Share Tech', sans-serif;
}
h1.cover-heading{
    padding-bottom: 0px;
    margin: 25px 0 0 0;
    font-size: 100px;
}
.cover-header h3{
    margin: 0 0 25px 0;
    padding-top: 5px;
    font-size: 65px;
    color: rgb(150, 150, 150);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
    font-style: italic;
    padding-bottom: 25px;
}

.cover-container p.lead{
    text-align: left;
    font-size: 30px;
    margin-left:100px;
}
.btn-follow {
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    text-align: right;
    border: 1px white solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: white;
    color:black;
    line-height: 20px;
    padding: 15px;
    float: right;
}
/*
 * Affix
 */
@media (min-width: 768px) {
    /* Handle the widths */
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .cover-container {
        width: 700px;
    }
}

/*
 * Vertical timeline
 */
.cd-timeline.cd-container{
    margin-top:60px;
    padding-bottom: 60px;
}
.cd-timeline h1{
    margin-top:40px;
}
.cd-timeline .cd-header{
    font-size: 45px;
    font-family: 'Share Tech', sans-serif;
    color:#fff;
    border-bottom: 4px solid #fff;
    width: 50%;
}
.cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
.cd-timeline::before {
    /* this is the vertical line */
    margin-top: 50px;
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img span {
    font-size: 24px;
    line-height: 24px;
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-even {
    background: #75ce66;
}
.cd-timeline-img.cd-odd {
    background: #c03b44;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
    font-size: 24px;
}
.cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content .cd-date {
    color:#fff;
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 25px;
    }
    .cd-timeline-content p {
        font-size: 16px;
    }
    .cd-timeline-content .cd-date {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}

/*
 * Footer
 */
.footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top:100px;
    background-color: #561;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.container .text-muted {
    color:#fff;
    margin: 20px 0;
}

/*
 * Specific
 */
#school {
    margin-bottom: 165px;
}